.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.listItem {
  display: flex;
  align-items: center;
}

.description {
  flex: 1;
}

.description p {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
  /* Ensure no padding on the left */
  padding-left: 0;
}

input, button {
  border: 1px solid #406;
  display: inline-flex;
  padding: 4px 12px; /* Adjust padding as needed */
  margin: 8px 0;
  min-width: 40px; /* Ensure minimum width for consistency */
  font-size: 14px; /* Adjust font size as needed */
  color: #666; /* Set text color to gray */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  /* text */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
